@model IEnumerable<_2124802010277_LeTuanKiet_CuoiKy.Models.KyThi>
@{
    ViewBag.Title = "ManagerExams";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Danh Sách các kỳ thi</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex">
                    <ol class="breadcrumb ms-auto">
                        <li><a href="#" class="fw-normal"></a></li>
                    </ol>
                    <a href="https://www.wrappixel.com/templates/ampleadmin/" target="_blank"
                       class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">
                        Tạo kỳ thi
                    </a>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        @*Xây dựng nội dung ở đây*@

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th style="text-align: center">
                    @Html.DisplayNameFor(model => model.IdKyThi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenKyThi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ngay)
                </th>
                <th style="text-align: center">
                    @Html.DisplayNameFor(model => model.SoThiSinh)
                </th>
                <th style="text-align: center">
                    @Html.DisplayNameFor(model => model.TinhTrang)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.IdKyThi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenKyThi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ngay)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.SoThiSinh)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.TinhTrang)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditExams", new { id = item.IdKyThi }) |
                        @Html.ActionLink("Detail", "DetailExams", new { id = item.IdKyThi }) |
                        @Html.ActionLink("Delete", "DeleteExams", new { id = item.IdKyThi })
                    </td>
                </tr>
            }
        </table>

    </div>
</div>



